<%- contentFor('HeaderCss') %>
	
<%- contentFor('body') %>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="bg-picture card-body">
					<div class="d-flex align-items-top">
						<img src="/images/profile-user.png" class="flex-shrink-0 rounded-circle avatar-xl img-thumbnail float-start me-3" alt="profile-image">

						<div class="flex-grow-1 overflow-hidden">
							<h4 class="mb-0">Hello, <%= userprofile.username %></h4>
							<p class="text-muted">
								<i><%=userprofile.email %></i>
							</p>
						

						</div>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--/ meta -->


			<div class="card">
				<div class="card-body">
					<h4 class="header-title">Update Profile</h4>
					<br>

					<form action="/profile" method="POST">
						<div class="row">
							<div class="mb-3">
								<label class="form-label">Username</label>
								<input type="text" class="form-control" value="<%=userprofile.username %>"  id="username" name="username"  placeholder="Email" required>
							</div>
							<div class="mb-3">
								<label for="inputEmail4" class="form-label">Email</label>
								<input type="email" class="form-control" value="<%=userprofile.email %>"  id="email" name="email" placeholder="Email" required>
							</div>
							<div class=" mb-3">
								<label for="inputPassword4" class="form-label">Password (Kosongkan jika tidak ingin mengubah)</label>
								<input type="password" class="form-control"  id="password" name="password"
									placeholder="Password">
							</div>
						</div>

						<button type="submit" class="btn btn-primary waves-effect waves-light">Update Profile</button>

					</form>

				</div>
				<!-- end card-body -->
			</div>

			
		</div>

	</div>
<%- contentFor('FooterJs') %>