<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>
<div class="row">

    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                   
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                    </div>
                </div>
                
                <h4 class="header-title mt-0 mb-3 text-center">Total Barang</h4>

                <div class="widget-box-2">
                    
                    <div class="widget-detail-1 text-center">
                        <h2 class="fw-normal mb-1 text-center"><%= totalItems %></h2>
                        
                    </div>
                </div>

               

            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                
                <h4 class="header-title mt-0 mb-4 text-center">Barang Terbanyak</h4>

                <div class="widget-box-2">
                    
                    <div class="widget-detail-2 text-center">
                        <h4 class="fw-normal  mb-1 text-center">  <%= mostQuantityItem %>: <%= mostQuantityItemTotal %> unit </h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                

                <h4 class="header-title mt-0 mb-3 text-center">History <b style="color:forestgreen;">In</b> Hari Ini</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-end">
                        
                        <h2 class="fw-normal mb-1 text-center"> <%= totalTransactionsIn %> </h2>
                    
                    </div>
                   
                </div>
            </div>
        </div>
    </div><!-- end col -->


    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                

                <h4 class="header-title mt-0 mb-3">History <b style="color:crimson;">Out</b> Hari Ini</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2 text-end">                        
                        <h2 class="fw-normal mb-1 text-center"> <%= totalTransactionsOut %></h2>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end col -->

</div>
<!-- end row -->







<div class="row">
  

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
               
                <h4 class="header-title mt-0 mb-3 text-center">History Barang Terakhir</h4>

                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <th>Type</th>
                            <th>Deskripsi Barang</th>
                            <th>Jumlah</th>
                            <th>Dari | Tujuan</th>
                            <th>Tanggal</th>
                            <th>Penginput</th>
                        </thead>
                        <tbody>
                            <% lastTransactions.forEach(transaction => { %>
                                <tr>
                                    <td><%= transaction.type %></td>
                                    <td><%= transaction.deskripsi_barang %></td>
                                    <td><%= transaction.jumlah %></td>
                                    <td><%= transaction.keterangan %></td>
                                    <td><%= new Date(transaction.created_at).toLocaleString() %></td>
                                    <td><%= transaction.username %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div><!-- end col -->

</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- knob plugin -->
<script src="/libs/jquery-knob/jquery.knob.min.js"></script>

<!--Morris Chart-->
<script src="/libs/morris.js06/morris.min.js"></script>
<script src="/libs/raphael/raphael.min.js"></script>

<!-- Dashboar init js-->
<script src="/js/pages/dashboard.init.js"></script>